.container{
  max-width: 1080px;
  margin: 20px auto;
}

.bottom-box{
  position: absolute;
  margin-top: 20px;
  text-align: start;
  width: 660px;
  left: 50%;
  margin-left: -330px;
}

.top-box{
  height: 251px;
}

@media (max-width: 700px){
  .bottom-box{
    position: absolute;
    margin-top: 20px;
    text-align: start;
    width: 340px;
    left: 50%;
    margin-left: -170px;
  }
}